body {
    text-align:center;
    background-color:MediumSpringGreen;
    font-family:sans-serif;
}
.logo{

    width:300px;
    height:200px;
}
header,  footer {
    background-color: PaleGreen;
}
header p {
    color: #070808;
}
nav a {
    color:  black;
    font-size: 20px;
    text-decoration: none;
    margin: 60px;
}
nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
}
p {
    font-size: 20px    
}

header img {
    width:200px;
    height:200px;
}
